@include font-face($font-default, url($font-url));
$font-family-default: $font-default;

// common classes
.white-text{
	color: #fff;
}
.theme-color-1-text{
	color: $theme-color-1;
}

.theme-color-2-text{
	color: $theme-color-2;
}

.theme-bg-1{
	background: $theme-color-1;
}

.theme-bg-2{
	background: $theme-color-2;
}

.theme-bg-3{
	background: $theme-color-3;
}

.theme-bg-4{
	background: $theme-color-4;
}

.disabled{
	opacity:0.5;
	cursor: default;
}

.abs-pos {
	position:absolute;
}

.fixed-pos {
	position:fixed;
}

.relative-pos {
	position:relative;
}

.full-width {
	width:100%;
}

.clearfix {
	clear:both
}

.float-left {
	float:left;
}

.float-right {
	float:right;
}

.uppercase{
	text-transform:uppercase;
}

.cursor-pointer{
	cursor:pointer;
	touch-action: manipulation;
}

.hide{
	display:none;
}

.hide-important{
	display: none !important;
}

.padding-10{
	padding:10px;
}
.padding-20{
	padding:20px;
}

.m-t-5 {
	margin-top:5px;
}

.m-t-10 {
	margin-top:10px;
}

.m-b-5{
	margin-bottom: 5px;
}
.m-b-10 {
	margin-bottom:10px;
}

.m-t-20 {
	margin-top:20px;
}
.m-b-20 {
	margin-bottom:20px;
}
.m-l-10 {
	margin-left:10px;
}

.bold {
	font-weight:600;
}

.text-center{
	text-align:center;
}

.text-right{
	text-align:right;
}

.text-left{
	text-align:left;
}

.small-text{
	font-size:$small-font-size;
}
.default-text{
	font-size: $default-font-size;
}

.x-small-text{
	font-size:0.62em;
}
.large-text{
	font-size:$large-font-size;
}

.x-large-text{
	font-size:$x-large-font-size;
}

.med-text{
	font-size:$med-font-size;
}

.secondary-text{
	color: $secondary-text-color;
}
.disabled-element{
	pointer-events: none;
	opacity : 0.5;
}

.underline-text{
	text-decoration:underline;
}
.border-top{
	border-top: 1px solid $border-color;
}

.fb-bg{
	background:#365899;
}
.google-bg{
	background: #d34836;
}
a,a:link,a:visited,a:hover{
		color:inherit;
		text-decoration:none;

		&.underline-text{
			@extend .underline-text;
		}
}

.valign-absolute {
	@extend .abs-pos;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
}
.valign-absolute-offset {
	@extend .abs-pos;
	top: 40%;
	transform: translateY(-10%);
	-webkit-transform: translateY(-10%);
	-ms-transform: translateY(-10%);
}
.halign-absolute {
	@extend .abs-pos;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
}

.center-absolute{
	@extend .abs-pos;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}



.div-table{
	display: table;
	width: 100%;

	.table-header,.table-footer {
		background:#f9f9f9;
	}
	.div-table-row {
		display: table-row;
	}

	.div-table-cell {
		display: table-cell;
		vertical-align: middle;
	}
}

.default-inline-container{
	& > div{
		display:inline-block;
		vertical-align : middle;
	}
}

.top-inline-container{
		& > div{
				display:inline-block;
				vertical-align : top;
		}
}

.messaging{
	font-size:$small-font-size;
	text-transform: capitalize;
	.med{
		font-size:$med-font-size;
	}
	.large{
		font-size:$large-font-size;
	}
	.error{
		color:$error-color;
	}

	&.success{
		color:$success-color;
	}
}

.UP-ERROR-TEXT{
	color:$error-color;
}
.UP-SUCCESS-TEXT{
	color: $success-color;
}

.up-button{
	font-size: 12px;
	cursor: pointer;
	touch-action: manipulation;
	display: inline-block;
	text-align: center;

	&.x-small-text{
		font-size: 10px;
	}
	&.small{
		padding: 10px;

		&.no-left-padd{
			padding-left:0px;
		}
	}

	&.large{
		padding: 15px 20px;
	}
	&.medium{
		padding: 10px 40px;
	}

	&.default{
		border-radius: 1.5px;
		text-transform: uppercase;
		&.primary{
			background: $theme-color-1;
			border: 1px solid $theme-color-1;
			color: #fff;
		}

		&.secondary{
			color: $theme-color-1;
		}

		&.secondary-2{
			color: $theme-color-1;
			border: 1px solid $theme-color-1;
		}

		&.secondary-3{
			color: #fff;
			background: $theme-color-4;
			border-color: 1px solid $theme-color-4;

		}

		&.secondary-4{
			color: $secondary-text-color;
		}
	}

	&.full-width{
		width: 100%;
		box-sizing: border-box;
	}

	&.half-width{
		width: 50%;
		box-sizing: border-box;
		&.margin{
			width: 49%;

			&:nth-child(1){
				margin-right: 1%;
			}
			&:nth-child(2){
				margin-left: 1%;
			}
		}
	}
	.no-radius{
		border-radius: 0px;
	}
}

.up-header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #fff;
	z-index: 999;
	border-bottom: 1px solid $border-color;
	height:$header-height;

	.header-table{
		height: $header-height;
	}

	.header-button{
		padding: 10px;
		font-size: $small-font-size;
		line-height: normal;
		@extend .bold;
		width: 120px;
		box-sizing: border-box;
		text-align: center;
		display: inline-block;

		&:nth-child(1){
			border: 1px solid $theme-color-1;
			color: $theme-color-1;
		}

		&:nth-child(2){
			border: 1px solid $default-text-color;
			color: $default-text-color;
		}
	}

	.site-logo{
		img{
			display: table;
			max-height: $header-height;

			@if global-variable-exists(site-logo-width){
				width: $site-logo-width;
			}@else{
				max-width: 150px;
			}
		}
	}

	&.sticked{
		@extend .fixed-pos;
		@extend .slidedown;
	}
}


#sticky-category {
	background: $category-bg-color;
	width: 100%;
	left: 0;
	right: 0;
	z-index: 999;
	@if global-variable-exists(category-border-color){
		border: 1px solid $category-border-color;
	}
	@else{
		border: 0px;
	}


	#up_menu_category {
		box-sizing: border-box;

		.category-contents {
			.scrollable-div {
				&> div {
					&:hover {
						border: none;
					}
					&> .selected {
						border: none;
					}
				}
			}
		}
	}

	&.sticked{
		@extend .slidedown;
		.menu-category{
			@extend .viewport;
		}
		border-left: 0;
		border-right: 0;
	}
}

.up-page{
	padding-top:$header-height;
	padding-bottom:$header-height;
	min-height: 100vh;
}

.menu-container {
	min-height: 100vh;
}

.spinner{
	@extend .fixed-pos;
	display: none;
	z-index: 1000;
	background: rgba(0,0,0,0.4);
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;

	&.active {
		display: block !important;
	}
}

.spinner_cont{
	width: 100px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);

	& > div {
		width: 10px;
		height: 10px;
		background-color: #fff;
		border-radius: 100%;
		display: inline-block;
		animation: sk-bouncedelay 1.7s infinite ease-in-out both;
		-webkit-animation: sk-bouncedelay 1.7s infinite ease-in-out both;
		-moz-animation: sk-bouncedelay 1.7s infinite ease-in-out both;
		-o-animation: sk-bouncedelay 1.7s infinite ease-in-out both;
		margin-right: 5px;
	}

	.spinner__item1 {
		animation-delay: -0.60s;
		-webkit-animation-delay: -0.60s;
		-o-animation-delay: -0.60s;
		-moz-animation-delay: -0.60s;
	}

	.spinner__item2 {
		animation-delay: -0.40s;
		-webkit-animation-delay: -0.40s;
		-moz-animation-delay: -0.40s;
		-o-animation-delay: -0.40s;
	}

	.spinner__item3 {
		animation-delay: -0.20s;
		-webkit-animation-delay: -0.20s;
		-moz-animation-delay: -0.20s;
		-o-animation-delay: -0.20s;
	}
}

.viewport{
	width:95%;
	max-width: $max-grid-width;
	margin-left:auto;
	margin-right:auto;
}

.viewport-small{
	width:95%;
	max-width: $max-s-grid-width;
	margin-left:auto;
	margin-right:auto;
}

.page-container{
	margin-top: 20px;
}


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

.blur-container{
	opacity: 0.9;
	filter: blur(20px);
}

.up-overlay {
	@extend .fixed-pos;
	width:100%;
	height:100%;
	left:0;
	top:0;
	z-index:999; //why not greater than 999? Because, google location z-index is same as 999.
	background:rgba(0,0,0,$overlay-opacity);
	display:none;
	overflow: auto;

	&#nps_modal{
		.up-modal-close{
			display: none;
		}
		.popup-content{
			color: $default-text-color;
			background: #fff;
			padding: 20px;
    		border-radius: $default-border-radius;

			@include bp(600px){
				padding-left: 10px;
				padding-right: 10px;
			}
		}
		.nps-body{
			padding-left: 20px;
			padding-right: 20px;
		}
		.feedback-user-input{
			min-height: 120px;
		}

		select{
			border: 1px solid #ddd;

			&.required{
				border:1px solid red;
			}
		}
		textarea{
			width: 100%;
			height: 100px;
			resize: none;
			border: 1px solid #ddd;
			outline: none;
			box-sizing: border-box;
			padding: 10px;
			border-radius: $default-border-radius;
		}
		.stars-container{
			font-size: 16px;
			&>div{
				display: inline-block;
				margin-left: 5px;
				margin-right: 5px;
				@extend .cursor-pointer;
				width: 32px;
			    height: 32px;
			    border-radius: 100%;
			    line-height: 35px;
				color: #fff;
				font-size: 12px;

				transition: 0.2s;
				-webkit-transition: 0.2s;

				&.selected{
					transform: scale(1.25);
					-webkit-transform: scale(1.25);
					-webkit-box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.75);
					-moz-box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.75);
					box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.75);
				}
			}

			@include bp(600px){
				overflow-x: scroll;
			    height: 55px;
			    overflow-y: visible;
			    padding-top: 10px;
			    white-space: nowrap;
			};
		}


	}
	.up-modal{

		@extend .center-absolute;
		width:90%;
		margin-bottom: 50px;
		&.top{
			top:$header-height;
			@extend .halign-absolute;
		}
		max-width:$default-modal-max-width;

		&.large{
			max-width:$large-modal-max-width;
		}

		//max-height: 90%;

		box-sizing:border-box;

		.up-modal-content{
			background:#fff;
			max-height:100%;
			border-radius:0px;
			//overflow-y: scroll;

			.rounded{
				border-radius:$default-border-radius;
			}

			-webkit-box-shadow: 1px 1px 3px 0px rgb(0, 0, 0);
			-moz-box-shadow:		1px 1px 3px 0px rgb(0, 0, 0);
			box-shadow:				 1px 1px 3px 0px rgb(0, 0, 0);
		}
		.up-modal-header{
			padding: 15px;
			background: $theme-color-1;
			color: #fff;
			font-size: $default-font-size;
		}
		.up-modal-close{
			@extend .cursor-pointer;
			width:40px;
			height:53px; // this is modal header-height
			line-height:53px;
			text-align:center;
			position: absolute;
			right: 0px;
			top:0px;
			color: #fff;
			font-size: 20px;

			i{
				line-height: 20px;
			}
		}

		.up-modal-footer{
			font-size:$small-font-size;
			border-top: 1px solid f5f5f5;
		}

		.input-field {
			font-size:$med-font-size;

			&.no-radius{
					border-radius: 0px;
			}

			overflow:hidden;
			box-sizing: border-box;
			width: 100%;
			margin-bottom:10px;

			&.no-margin{
				margin-bottom:0px;
			}

			input[type="text"],input[type="email"],input[type="password"]{
				border:0px;
				padding:10px 5px;
				width: 100%;
				box-sizing: border-box;
				font-size: $med-font-size;
			}

			&.has-prefix{
				input[type="text"],input[type="email"],input[type="password"]{
					padding-left: 40px;
					width: 100%;
				}

				position:relative;
				.prefix{
					@extend .valign-absolute;
					width: 30px;
				}
			}
			&.animate-placeholder{

			}
		}
		&.animate-placeholder{
			.input-field{
				position: relative;
				margin-top: 20px;
				overflow: visible;

				label{
					@extend .valign-absolute;
					transition: all 0.2s ease-in-out;
					color: $secondary-text-color;
					@extend .uppercase;
					font-size: .75em;
				}

				input{
					padding-left: 0px;
					&.hasVal + label {
						color: $theme-color-1;
						top:-10px;
						left: 0px;
						font-size: .75em;
						transform: translateY(0%);
						-webkit-transform: translateY(0%);
						-ms-transform: translateY(0%);
					}
				}
			}

			label{
				left: 0px;
			}
			.has-prefix{
				label{
					left: 40px;
				}
			}

		}
	}
}

body{
	&.guest-checkout{
		.hide-in-guest{
			display: none !important;
		}
		.show-in-guest{
			display: block !important;
		}
	}

	&.up-modal-added{
		overflow: hidden;
	}

	.GUEST-CHECKOUT-BT{
		display: none;
	}

	&.guest-checkout-button{
		.GUEST-CHECKOUT-BT{
			display: block;
		}
	}

	select{
		outline: none;
	}
}


.up-branding{
	img{
		height: 30px;
	}
}
.up-footer{
	width: 100%;
	background: $footer-color;
	padding: 10px;
	border-top:1px solid $border-color;
	//height: $footer-height;
	z-index: 998;
	box-sizing: border-box;

	.up-branding{
		text-align: right;
		@include bp(520px) {
			display: block;
			text-align: center;
			padding-top: 20px;
		}
		img{
			width: 100px;
			display: inline-block !important;
		}
	}
	.social-link-bar {
		a{
			img{
				margin-right: 20px;
    			width: 20px;
    		}
    	}
		.div-table{
			margin-left: auto;
			margin-right: auto;
			width: auto;
		}
		.div-table-cell{
			width: 50px;
			height: $footer-height/2;
			vertical-align: middle;
		}
	}
	.nav-bar{
		ul{
			margin: 0px;
			padding-left: 0px;
			li{
				display: inline-block;
			    margin-right: 50px;
			    color: #9b9b9b;
			    font-size: $small-font-size;
			    @include bp(520px) {
					display: block;
					text-align: center;
					padding-top: 15px;
					margin-right: 0px;
				}
			}
		}
		@include bp(520px) {
		display: block;
		}
	}

	&.fixed-footer{
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
	}
}

.up-footer-buffer{
	height: $footer-height;
}
// component specific modal style
#up_custom_popup{
	.up-modal{
		background: #fff;
	}
}

#up_location_prompt{
	.search-location-input-row{
		background: #fff;
		&>:nth-child(1), &>:nth-child(3){
			width: 50px;
			color: $secondary-text-color;
		}
		&>:nth-child(2){
			width: 100%;
		}
		input{
			width: 100%;
			border: 0px;
			padding-top:20px;
			padding-bottom:20px;
			border-right:1px solid $border-color;
		}
	}
}
#complex_item{
	.modal-item-button{
		box-sizing: border-box;
		border-top: 1px solid #ddd;
		padding: 10px 10px;

		.up-button{
			width: 100px;
    		box-sizing: border-box;
		}
	}
	select{
		height: 36px;
		border-radius: 4px;
		padding: 0px 3px;
		border-width: 1px;
		border-style: solid;
		border-color: $theme-color-1;
		border-image: initial;
		width: 100%;
		box-sizing: border-box;
		background: none;
	}
	.up-modal{
		top:$header-height;
		@extend .halign-absolute;
		background: #fff;

		.option-header{
			background:rgba(250, 250, 250, 1);
			color:$default-text-color;
			padding: 10px;
			border-bottom: 1px solid $border-color;
			border-top: 1px solid $border-color;
			margin-bottom: 3px;
			box-sizing: border-box;
			@extend .cursor-pointer;

			i{
				transition: 0.5s;
				-webkit-transition: 0.5s;
			}

			&.active{
				i{
					-webkit-transform: rotate(90deg);
					transform: rotate(90deg);
				}
			}

			&.primary{
				background-color: rgba(250, 250, 250, 1);
				color: $theme-color-1;
				font-size: 1em;
			}
		}
		.nested-options-section-block{
			.options-container-child{
				display: none;
			}
			&.expanded{
				.options-container-child{
					display: block;
				}
			}
		}
		.combo-item-selections{
			padding: 10px;
			padding-left: 0px;
			padding-right: 0px;
			border: 0px;
			&.primary{
				border-bottom: 1px solid $border-color;
			}

			i{
				color: #ddd;
			}

			&.selected{
				i{
					color: #000;
				}
			}
			@extend .cursor-pointer;

			&:last-child{
				border-bottom: 0px;
			}
		}
		.options-list{
			max-height: 160px;
			overflow-y: auto;
			-webkit-overflow-scrolling: touch;
			-moz-overflow-scrolling: touch;
			font-size: $med-font-size;

			@include bp(520px){
				max-height: 142px;
			};

			.select-option{
				padding: 0px 10px;
			}
			&::-webkit-scrollbar {
			  background: lighten($theme-color-1, 45);
			  border-radius: 4px;
			  height: 8px;
			  width: 8px;
			}

			&::-webkit-scrollbar-thumb {
			  background: $theme-color-1;
			  border-radius: 4px;
			}
		}
		.options-container{
			.options-list{
				.multi-select{
					padding: 10px;
					font-size: $med-font-size;
					line-height: 19px;
					@extend .cursor-pointer;

					i{
						color: $secondary-text-color;
					}

					.checkbox {
						position: relative;
						top: -0.8rem;
						margin: 0 0.5rem 0 0;
						cursor: pointer;

						&:before {
							-webkit-transition: all 0.3s ease-in-out;
							-moz-transition: all 0.3s ease-in-out;
							transition: all 0.3s ease-in-out;
							content: "";
							position: absolute;
							left: 0;
							z-index: 1;
							width: 0.8rem;
							height: 0.8rem;
							top: 0.706rem;
							border: 2px solid #615a5a;
						}
						/*
						&:checked:before {
							-webkit-transform: rotate(-45deg);
							-moz-transform: rotate(-45deg);
							-ms-transform: rotate(-45deg);
							-o-transform: rotate(-45deg);
							transform: rotate(-45deg);
							height: .5rem;
							border-color: $theme-color-1;
							border-top-style: none;
							border-right-style: none;
						}
						*/
						&:after {
							content: "";
							position: absolute;
							top: -0.125rem;
							left: 0;
							width: 1.1rem;
							height: 1.1rem;
							background: #fff;
							cursor: pointer;
						}
					}

					&.selected{
						i{
							color: #000;
						}

						.checkbox {

							&:before {
								-webkit-transform: rotate(-45deg);
								-moz-transform: rotate(-45deg);
								-ms-transform: rotate(-45deg);
								-o-transform: rotate(-45deg);
								transform: rotate(-45deg);
								height: .5rem;
								border-color: green;
								border-top-style: none;
								border-right-style: none;
							}
						}
					}

				}
			}
		}
		.nested-options-list-container{
			margin-top: 5px;
			.nested-options-list-container-row{
				margin-bottom: 1px;

				.nested-item-header{
					padding: 10px 12px;
					font-size: 1em;
					color: $theme-color-1;
					@extend .cursor-pointer;
					&.active{
						i{
							-webkit-transform: rotate(90deg);
							transform: rotate(90deg);
						}
					}
				}

				.toggle-options{
					display: none;
					&>div{
						padding: 12px 10px;
						font-size: $med-font-size;
					}

					.nested-item-blocks{
						i{
							display: none;
						}

						.checkbox {
							position: relative;
							top: -0.8rem;
							margin: 0 0.5rem 0 0;
							cursor: pointer;

							&:before {
								-webkit-transition: all 0.3s ease-in-out;
								-moz-transition: all 0.3s ease-in-out;
								transition: all 0.3s ease-in-out;
								content: "";
								position: absolute;
								left: 0;
								z-index: 1;
								width: 0.8rem;
								height: 0.8rem;
								top: 0.706rem;
								border: 2px solid #615a5a;
							}
							/*
							&:checked:before {
								-webkit-transform: rotate(-45deg);
								-moz-transform: rotate(-45deg);
								-ms-transform: rotate(-45deg);
								-o-transform: rotate(-45deg);
								transform: rotate(-45deg);
								height: .5rem;
								border-color: $theme-color-1;
								border-top-style: none;
								border-right-style: none;
							}
							*/
							&:after {
								content: "";
								position: absolute;
								top: -0.125rem;
								left: 0;
								width: 1.1rem;
								height: 1.1rem;
								background: #fff;
								cursor: pointer;
							}
						}
						&.selected{
							i{
								display: block;
							}
							.checkbox {

								&:before {
									-webkit-transform: rotate(-45deg);
									-moz-transform: rotate(-45deg);
									-ms-transform: rotate(-45deg);
									-o-transform: rotate(-45deg);
									transform: rotate(-45deg);
									height: .5rem;
									border-color: green;
									border-top-style: none;
									border-right-style: none;
								}
							}
						}
					}
				}

				&.expand{
					.toggle-options{
						display: block;
					}
				}
			}
		}
		.item-detail-modal{
			&>div{
				box-sizing: border-box;
				img{
					height: 100%;
					display: none;

					@include bp(520px){
						display: none;
					};
				}
			}
		}
	}
}

// up default time picker

.up-timepicker{
	.up-picker-cont{
		display: table;
		//margin-left: auto;
		//margin-right: auto;
		&>div{
			display: table-cell;
			width: 50px;
			text-align: center;
			vertical-align: middle;

			input{
				text-align: center;
				&.required {
				    border: 1px solid red !important;
				}
			}
		}
		.up-separator{
			width: 15px;
		}
		.up-plus,.up-minus{
			@extend .cursor-pointer;
		}
	}
	.up-timepicker-message{
		font-size: $small-font-size;
		color: $secondary-text-color;
		@extend .m-b-10;
	}
}
/*
.theme-preview{
	position: fixed;
	right: 0;
	bottom: 0;
	color: $theme-color-4;
	font-size: 12px;
	text-transform: uppercase;
	background: #fff;
	&>div{
		cursor: pointer;
		padding: 15px;
	}
	-webkit-box-shadow: 0px 2px 10px 1px #000;
	-moz-box-shadow: 0px 2px 10px 1px #000;
	box-shadow: 0px 2px 10px 1px #000;

	.selected{
		background: $theme-color-1;
		font-weight: bold;
		color: #fff;
	}
}
*/
.price-descriptor{
	margin-left: 3px;
}
.no-item-message{
	background: #fff;
    padding: 20px;
    border: 1px solid $border-color;
    text-align: center;
    color: $secondary-text-color;
    font-size: 1.5em;
}
.up-item-container{
	select{
		font-size: $small-font-size;
	}
	.item-title-name{
		padding-left: 10px;
    	color: #565656;
	}
	.item-desc{
		color: $item-desc-text-color;
		font-size: .75em;
		display: -webkit-box;
		display: -moz-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		-moz-line-clamp: 3;
		-moz-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
		height: 48px;
		max-width: 255px;

		@include bp(520px){
			max-width: 100%;
		};
	}
	&.up-grid{
		.combo-item, .item{
			border: 1px solid $border-color;
			padding: 0px;
			min-height: 100px;
			display: inline-block;
			vertical-align: top;
			margin-bottom: 50px;

			.out-of-stock-text{
				display: none;
			}
			&.out-of-stock{
				.out-of-stock-text{
					display: inline-block;
				}
			}
			.up-item-image{
					background: url('../images/blur-bg.png');
					background-size: cover;
					background-position: center;
					background-repeat: repeat;
					background-size: cover;
					overflow: hidden;
					@include fixed-aspect-ratio($item-image-card-ratio, 1);

					img{
						opacity: 0;
						@include trans(0.8s);
					}

					&.loaded{
						img{
							opacity: 1;
						}
					}
					@extend .noselect;
			}

			.up-item-others{
				padding: 20px;

				.title-desc-container {
					.title {
						.item-title-cell {
							vertical-align: middle;
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
							max-width: 100px;
						}
					}
				}
			}
			.item-pricing-btn-cnt{
				margin-top: 10px;
				display: table;
				width: 100%;

				&>div{
					display: table-cell;
					vertical-align: middle;
				}

			}
			@include add-default-shadow($item-grid-shadow);
		}

		&.up-col-2{
			.combo-item,.item{
				width: 48%;
				&:nth-child(even){
					margin-left: 2%;
				}
				&:nth-child(odd){
						margin-right: 2%;
				}
			}
		}

		&.up-col-3{
			.combo-item,.item{
				width: 32%;
				&:nth-child(3n){
					margin-left: 2%;
				}
				&:nth-child(3n+1){
						margin-right: 2%;
				}
			}
		}
	}

	&.up-list{
		.combo-item, .item{
			border: 1px solid $border-color;
			border-bottom: 0px;
			padding: 20px;
			min-height: 140px;
			&:last-child{
				border-bottom: 1px solid $border-color;
			}
			.up-item-image{
				width: 100px;
				background-size: cover;
				position: absolute;
				left: 20px;
				top:20px;
				border-radius: $default-border-radius;
				overflow: hidden;
      			border: 1px solid $border-color;
				background-image: url('../images/icon/broken.png');
			}

			.up-item-others{
				padding-left: 120px;

				.title-desc-container {
					.title {
						.item-title-cell {
							vertical-align: middle;
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
							max-width: 100px;
						}
					}
				}

				&>div{
					display: table-cell;
					width: 50%;
					vertical-align: middle;

					@include bp(520px){
						display: inline;
						width: 100%;
					};

					&:nth-child(2){
						vertical-align: middle;
					}
				}
			}
			.item-pricing-btn-cnt{
				display: table;
    			width: 100%;
				text-align: right;
				&>div{
					display: table-cell;
					vertical-align: middle;

					@include bp(520px){
						&:nth-child(1){
							text-align: left;
						}
					};
				}
			}
		}

		&.up-item-no-image{
			.item .up-item-image{
				display: none;
			}
			.item .up-item-others{
				padding-left: 0px;
			}
		}

	}

	.combo-item,.item{
		background-color: #fff;
		.item-add-button{
			width: $small-button-fixed-width;
			box-sizing: border-box;
		}
		.food-type-cell{
			width: 25px;
		}

		&.hide-food-type{
			.food-type-cell{
				@extend .hide-important;
			}
		}

		.added-item-add-delete{
			border: 1px solid $theme-color-1;
			border-radius: $default-border-radius/2;
			color: $theme-color-1;
			width: $small-button-fixed-width;
			box-sizing: border-box;
			margin-left: auto;
			margin-right: 0;
			&> div{
				display: inline-block;
				vertical-align: middle;
				font-size: $small-font-size;
				text-align: center;
				width: 33.33%;
				padding-left: 0px;
				padding-right: 0px;
				height: 34px;
				float: left;
				line-height: 34px;

				&:nth-child(2){
					background: $theme-color-1;
					color: #fff;
				}
			}
		}
		box-sizing: border-box;
		.up-item-image{
			img{
				width: 100%;
				display: table;
			}
		}
		.added-item-add-delete{
			display: none;
		}
		&.item-added{
			.added-item-add-delete{
				display: table;
			}
			.item-add-button.up-button{
				display: none;
			}
		}
		.item-price-text{
			color: $theme-color-1;
		}

		select{
			border-color: $theme-color-1;
		}

		.item-controller{
			box-sizing:border-box;
			text-align: right;
		}
	}
}



.static-content{
	padding: 10px;
	padding-top: $header-height;
	border-left: 1px solid $border-color;
	border-right: 1px solid $border-color;
	background: #fff;
	min-height: 100vh;
}

.thankyou-container{
	padding-bottom: 100px;
	.container{
		max-width:565px;
		width: 100%;
		margin: 0 auto;
		background: #fff;
	    padding: 20px;
	    margin-top: 100px;
	    border: 1px solid $border-color;
	    	@include bp(520px) {
				width: 90%;
			}
			.checklogo{
			width: 75px;
    		height: 75px;
    		background: $theme-color-1;
    		margin: 0 auto;
    		border-radius: 50%;
    		margin-bottom: 18px;
			position: relative;
    		img{
				@extend .center-absolute;
    			width: 61px;
    			height: 47px;
    		}
		}

		h4{
			color: $secondary-text-color;
			font-size: $large-font-size;
			font-weight: normal;
			margin: 0px;
		}
		p{
			font-size: 0.93em;
    		color: $secondary-text-color;
    		margin-top: 3px;
		}
		.timeofdelivery{
			    margin-top: 35px;
    			font-size: $small-font-size;
    			color: $secondary-text-color;
    			margin-bottom: 5px;
		}
	}
}

#item{
	.page-container{
    	border: solid 1px rgba(85, 85, 85, 0.17);
    	border-radius: 3px;
    	background-color: #ffffff;
    	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.06);
    	box-sizing: border-box;
    	@include bp(520px) {
				padding: 30px;
			}
	}
	.no-description{
		.divider{
			display: none;
		}
		.item-page-description{
			display: none;
		}
		.back-button{
			a{
				margin-top: 0px;
			}
		}
	}
	.food-container{
    	.divider{
    		position: absolute;
		    top: 0;
		    left: 50%;
		    width: 1px;
		    height: 100%;
		    background-color: rgba(85, 85, 85, 0.17);
		    @include bp(520px) {
				display: none;
			}

    	}
    	.product-img{
    	width: 50%;
    	padding: 30px;
    	@include bp(520px) {
				display: inline-block;
				padding: 0px;
			}

    		.item-image-cover{
    			img{
	    			border: solid 1px rgba(85, 85, 85, 0.05);
	    			border-radius: 6px;
	    			width: 100%;
	    			@include bp(520px) {
						width: auto;
					}
	    		}
    		}
    	}
    	.description{
    		vertical-align: top;
    		padding: 30px;
    		@include bp(520px) {
						display: inline-block;
						padding: 30px 0 0 0;
					}
	    	.item-title-pricing{
	    			.item-title{
	    				font-size: 1.6em;
	    				line-height: 1.3;
	    			}
	    			.pricing{
						    padding: 45px 20px 20px 0;
						    font-size: 1em;
	    			}
	    	}
	    	.item-add-button{
	   				 position: relative;
	    			bottom: 46px;
	    		}
	    		.added-item-add-delete{
				    position: relative;
	    			bottom: 46px;
	    		}
	    	.item-page-description{
			    @include bp(520px) {
					display: inline-block;
					width: 100%;
					padding: 30px 0;
				}
			    .item-description{
			    	padding-bottom: 3%;
			    }
			    .item-description-text{
			    	font-size: 1em;
			    }
	    	}
	    }
	}
}

#checkout{
	.checkout-content{
		.sub-header{
			color: #fff;
			//background: $theme-color-2;
			padding: 20px;
			font-size: $med-font-size;
		}
		&>div{
			width:46%;
			margin:0% 4%;
			display:inline-block;
			box-sizing:border-box;
			vertical-align:top;
			background-color: #fff;

			&:nth-child(1){
				margin-left: 0px;
			}
			&:nth-child(2){
				margin-right: 0px;
			}
			border: 1px solid $border-color;
		}

		.wallet-reload-link{
			.route-to-wallet{
				cursor:pointer;
				touch-action:manipulation;
				text-decoration:underline;
			}
		}

		input {
			box-sizing:border-box;
			max-width:300px;
			border: 1px solid #d7d7d7;
			width:100%;
			padding:10px;
			font-size:0.75em;
			border-radius: $default-border-radius;
		}
		select,textarea{
			max-width:300px;
			border: 1px solid #d7d7d7;
			width:100%;
			font-size:$small-font-size;
			box-sizing: border-box;
			border-radius: $default-border-radius;
			resize: none;
		}
		textarea{
			height: 100px;
		}
		.payment-modes{
			.payment-options-container{
				&>div{
					@extend .cursor-pointer;
					.fa-circle-o{
						display: inline-block;
					}
					.fa-dot-circle-o{
						display: none;
					}
					&.selected{
						.fa-circle-o{
							display: none;
						}
						.fa-dot-circle-o{
							display: inline-block;
						}
					}
				}
			}
		}

		.checkout-input-section{
			&>div{
				padding: 10px 20px;
				margin-bottom: 5px;
			}
		}

		.billing-section{
			font-size: $med-font-size;
			&>div{
				display: table;
				width: 100%;
				margin-bottom: 15px;

				&>div{
					display: table-cell;

					&:nth-child(2){
						text-align: right;
					}
				}
			}
		}

		.coupon-input-container{
			border: 1px solid $border-color;
			border-radius: $default-border-radius;
			font-size: $med-font-size;
			overflow: hidden;
			box-sizing: border-box;
			display: table;
			width: 100%;

			input[type="text"]{
				padding: 10px;
				border: 0;
				@extend .uppercase;
				display: table-cell;
				vertical-align: middle;
			}

			.apply-coupon{
				@extend .cursor-pointer;
				display: table-cell;
				background: $theme-color-1;
				color: #fff;
				vertical-align: middle;
				text-align: center;
				width: 33%;
				font-size: $med-font-size;
				&.applied{
					opacity:0.5;
				}
			}
		}

		.selected-user-address{
			.delete-address{
				position: absolute;
				right: 0;
				border: 1px solid #757575;
				padding: 2px 6px;
				border-radius: 2px;
				text-transform: uppercase;
				cursor:pointer;
				touch-action:manipulation;
			}

			.edit-address{
				@extend .delete-address;
				right:30px;
			}
			.current-address-detail{
				font-size:$med-font-size;
			}
			.display-all-address-cont{
				margin-top:10px;
				margin-bottom:10px;
				font-size: $med-font-size;
				color: $theme-color-4;
				.address-tag{
					@extend .cursor-pointer;
					margin-right:3px;
					border: 1px solid $theme-color-4;
					display: inline-block;
					padding: 10px;
					border-radius: $default-border-radius;
					&.selected{
						background: $theme-color-4;
						color: #fff;
					}

				}
			}
		}
	}
}
#cart{
	position: fixed;
    top: 0px;;
    height: 100%;
    background: #fff;
    right: -320px;
    width: 100%;
    max-width: 320px;
	z-index: 999; //header z-index is 999
	padding-top: 0px;
	padding-bottom: 0px;
	box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.2);
	-webkit-box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.2);
	-moz-box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.2);

	transition:0.5s;
    -webkit-transition:0.5s;
    -moz-transition:0.5s;

	.cart-item-add-delete-control{
		width: 100px;
		white-space: nowrap;
		border: 1px solid $border-color;
		border-radius: $default-border-radius;
		display: table;
		&>div{
			padding: 5px;
			display: table-cell;
		}
		.cart-del{
			background: $secondary-background-color;
			@extend .cursor-pointer;
		}
	}

	.page-container{
		height: 100%;
		box-sizing: border-box;
		position: relative;
		margin-top: 0px;
	}
	&.expand{
		right:0px;
	}

	.cart-nav{
		position: absolute;
		bottom: 0px;
		width: 100%;
		box-sizing: border-box;
		background: #fff;
		display: table;
		padding: 5px;
		&>a{
			width: 49%;
			display: inline-block;
			text-align: center;
			box-sizing: border-box;

			&:nth-child(1){
				margin-right: 1%
			}
			&:nth-child(2){
				margin-left: 1%
			}
		}
	}
	.cart-container {
		margin-bottom: 0;
		height: 100%;
		padding-bottom: 100px;
		box-sizing: border-box;
		overflow-y: auto;
		font-size: $med-font-size;

		.up-layout-header{
			background: $theme-color-2;
			color: #fff;
		}
		.cart-item-container{
			box-sizing: border-box;
			.cart-item-row{
				padding: 20px;
				border-bottom: 1px solid #e7e7e7;
				&:first-child{
					p{
						font-size: $med-font-size;
						margin: 0px;
					}
				}
				p{
					margin : 0px;
					font-size: $med-font-size;
				}
			}
			.cart-item{
				//border-bottom: 1px solid $border-color;
				padding-top: 5px;
				padding-bottom: 5px;
				font-size: $med-font-size;
				.cart-item-price-color{
					color: #757575;
				}
				.item-total-price{
					width : 55%;
				}
			}
			.div-table-cell {
				width: 25%;
				&.no-wrap{
					white-space:nowrap;
				}
			}
		}
	}
}
#wallet{
	.show-balance img{
		width: 75px;
	}
	.success{
		color: #2ecc71;
	}
	.wallet-container{
		#reload_amount_input{
			padding-left: 25px;
			position: relative;
			border: 1px solid #f4f4f4;
			background:#f2f2f2;

			input[type="text"]{
				background:#f2f2f2;
				width: 100%;
				box-sizing: border-box;
				padding: 16px;
				border: 0;
				padding-left: 0;
			}

			i{
				position: absolute;
				left: 10px;
				top: 18px;
			}
		}
	}
	.reload-amount{
		&>.reload-trigger{
			display:inline-block;
			border:1px solid $theme-color-2;
			border-radius:4px;
			padding:10px;
			cursor:pointer;
			touch-action:manipulation;
			box-sizing:border-box;
			width:25%;
			font-size: 0.8em;

			i{
				font-size:14px;
			}
			&:nth-child(1){
				margin-right: 5%;
			}
			&:nth-child(3){
				margin-left: 5%;
			}
			&:active{
				background: $theme-color-2;
				color:#fff;
				border:1px solid $theme-color-2;
			}
		}
	}
}

#orders{
}

#profile{
}

#adderss{
}

#store_locator{
	.page-container{
		    -webkit-box-shadow: 1px 1px 10px 0px rgba(50, 50, 50, .3);
	    	-moz-box-shadow: 1px 1px 10px 0px rgba(50, 50, 50, .3);
	    	    box-shadow: 1px 1px 10px 0px rgba(50, 50, 50, .3);
	    	    margin: 20px 0 0 0;
		.up-default-form-header{
			    background: $theme-color-1;
	    		color: #fff;
	    }
	    .gmap_wrapper{
	    		background-color: #fff;
	    	.google-location-lookup{
	    			width: 100%;
		    	//  &> div:nth-child(1){
		    	// 	width: 15%;
		    	// 	text-align: center;
		    	// 	border-right: 1px solid #e7e7e7;
		    	// 	background-color: white;
		    	// }
		    	.inp-wrapper{
		    		padding: 6px 6px;
		    	 input[type="text"]{
					    padding: 13px 14px 13px;
					    box-sizing: border-box;
					    border-radius: 6px;
					    font-size: 0.81em;
					    background-color: #fff;
					    width: 238px;
					    border: 1px solid $border-color;
		    		}
		    	}

		    	// &> div:nth-child(3){
		    	// 	width: 130px;
				   //  border-left: 1px solid #e7e7e7;
				   //  background: #f2f2f2;
				   //  text-align: center;
		    	// }
		    	// &> div{
		    	// 	display: table-cell;
		    	// }
		    	@include bp(700px) {
				    width: none;
				    .inp-wrapper{
				    	input[type="text"]{
				    		width: 100%;
				    	}
				   	}
				 }
		    }
				.store-data{
				   	margin: 0px;
				    font-size: 12px;
				    max-width: 250px;
	    			width: 100%;
				    padding-left: 0px;
				    list-style: none;
				    height: 430px;
				    overflow: auto;
				    @include bp(700px) {
				    	max-width: none;
				    }
				    .active{
				    	background-color: #f2f2f2 !important;
				    }
				    i{
						    position: absolute;
						    font-size: 1.12em;
						    color:$theme-color-1;
	    					left: 20px;
	    					top: 8px;
				    }
				    .store-cart{
				    	background-color:#fff;
				    	padding: 10px 10px 16px 40px;
				    	.title{
				    	margin: 0;
				    	padding: 0;
				    	width: 100%;
				    	color:$theme-color-1;
				    	}
				    	.pickup-button{
				    		    padding: 2px 20px;
	    						margin-top: 10px;
				    	}
				    	.getdirection-button{
				    		padding: 2px 5px;
	    					margin: 10px 0 0 8px;
				    	}
				    	.address{
							display: block;
						    padding-top: 5px;
						    color: #8c8c8c;
						    font-size: $med-font-size;
				    	}
				    }
				}
				#map{
					position: absolute;
				    z-index: 10;
				    max-width: 750px;
				    width: 100%;
				    height: 486px;
				    left: 250px;
				    top: 0px;
				    @include bp(700px) {
				    	display: none;
				    }
				}
		}
	}
}


.item.ordering-item{
	.food-type{
		width: 20px;
		height: 20px;
		margin-right: 5px;
		background-position: center;
		background-size: 100%;
		&.nonveg{
			background-image:url('../images/icon/non-veg.png');
		}

		&.veg{
			background-image:url('../images/icon/veg.png');
		}
	}
}

.up-saved-address-list{
	font-size: $med-font-size;
	.saved-address-row {
		font-size: $small-font-size;
		margin-bottom: 50px;
		padding-right: 65px;
	}

	.saved-address-col{
		width: 50%;
		display: inline-block;
		padding: 10px;
		box-sizing: border-box;
		text-align: center;
		margin-bottom: 20px;

		@include bp(520px){
			width: 100%;
		};
	}

	.address-tag{
		//background: $theme-color-4;
		//color: #fff;
		//border-radius: $default-border-radius;
		//display: inline-block;
		//padding: 10px;
		//margin-left: auto;
		//margin-right: auto;
		//box-sizing: border-box;
		//min-width: 150px;
		@extend .uppercase;
		font-weight: bold;
	}
	.edit-del-add-btn-cnt{
		.edit-delete-address{
			width: 48.5%;
			display: inline-block;
			padding: 9px 10px;
			box-sizing: border-box;
			font-size: $small-font-size;
			text-align: center;
			@extend .text-center;
			@extend .cursor-pointer;

			&:nth-child(1){
				margin-right: 1.5%;
			}
			&:nth-child(2){
				margin-left: 1.5%;
			}
			&.edit-address{
				border: 1px solid $theme-color-1;
				color: $theme-color-1;
			}

			&.delete-address{
				border: 1px solid $theme-color-3;
				color: $theme-color-3;
			}
		}
	}
}

.refer-container{
	.link-container{
		width: 500px;
		@include bp(640px){
			width: 90%;
		}
	    margin-right: auto;
	    margin-left: auto;

		&>div:nth-child(2){
			width: 150px;
			@include bp(480px){
				width: 100px;
			}
		}
		input[type="text"]{
			width: 100%;
			padding: 10px;
			border: 1px dashed rgba(151, 151, 151, 1);
			border-right: 0px;
			background: rgba(249, 249, 249, 1);
			border-top-left-radius: 3px;
			border-bottom-left-radius: 3px;
			box-sizing: border-box;
		}

		a{
			@extend .cursor-pointer;
			width: 150px;
			@include bp(480px){
				width: 100px;
			}
			background-color: rgba(151, 151, 151, 1);
			border-top-right-radius:4px;
			border-bottom-right-radius:4px;
			display: inline-block;
			text-align: center;
			padding: 11px;
    		box-sizing: border-box;
			color: #fff;
			font-size: 13px;
    		padding: 14px;
		}
	}
	.social-share-container{
		margin-left: auto;
		margin-right: auto;
		width: 500px;
		@include bp(640px){
			width: 90%;
		}
		.share-button{
			box-sizing: border-box;
			padding: 15px;
			color: #fff;
			width: 32%;
			@include bp(480px){
				width: 100%;
			}
			display: inline-block;
			border-radius: $default-border-radius;
			font-size: 13px;
			text-transform: capitalize;
			cursor: pointer;

			&:nth-child(3){
				margin-left: 2%;
			}



			&:nth-child(1){
				margin-right: 2%;
			}
			@include bp(480px){
				margin-right: 0% !important;
				margin-left: 0% !important;
			}
			margin-bottom: 10px;
			background-size: 23px;
			background-repeat: no-repeat;
			background-position: center left 10px;
		}
		.facebook-share{
			background-color: rgba(52, 68, 129, 1);
			background-image: url('../images/icon/fb.png');
		}

		.whatsapp-share{
			background-color: rgba(87, 168, 99, 1);
			background-image: url('../images/icon/wa.png');
		}

		.mail-share{
			background-color: rgba(243, 96, 46, 1);
			background-image: url('../images/icon/mail.png');
		}

		.messenger-share{
			background-color: rgba(0, 132, 255, 1);
			background-image: url('../images/icon/msg.png');
		}
	}
}

.up-modal{
	.preview-cart{
		font-size: 12px;
		.option-string{
			@extend .secondary-text;
			padding: 5px;
			padding-left: 0px;
		}
		.combo-item-add-delete-control{
			width: 100px;
			border: 1px solid $theme-color-1;
			display: table;
			border-radius: $default-border-radius;
			float: right;
			&> a{
				display: table-cell;
				padding: 4px;
				box-sizing: border-box;
				text-align: center;
				width: 33%;

				&.cart-change-button{
					@extend .cursor-pointer;
					background: $theme-color-1;
					color: #fff;
				}
			}
		}
		.min-max-viewer{
			padding: 10px;
			padding-left: 20px;
			padding-right: 20px;
			background: $theme-color-1;
			color: #fff;
			border-top: 1px solid #fff;
		}
		.added-item-row{
			margin-top: 2px;
			padding: 10px;
			padding-left: 20px;
			padding-right: 20px;
			color: $theme-color-1;
			box-sizing: border-box;
			border-bottom: 1px solid #f2f2f2;
		}
		.delete-combo-item{
			@extend .cursor-pointer;
			padding: 2px 5px;
			border:1px solid #b91d47;
			color: #b91d47;;
			border-radius: $default-border-radius;
			text-transform: uppercase;
			font-size: 10px;
			width: 100px;
			text-align: center;
			display: inline-block;
			box-sizing: border-box;
			padding: 4px;
		}
	}
	.combo-groups-row{
		font-size: 12px;
		.added-item-row{

		}
		.options-container-child{
			margin-top: 2px;
			padding-left: 20px;
    		padding-right: 20px;
			display: none;
		}
		.combo-item-option-group{
			&:nth-child(1){
				.options-container-child{
					display: block;
				}
			}
		}
		.combo-group-options-add-button{
			display: none;
			padding: 10px;
			text-align: center;
			display: none;
		    margin: 10px;
		    border: 1px solid $theme-color-1;
			border-radius: $default-border-radius;
			color: $theme-color-1;
			@extend .cursor-pointer;
		}
		.combo-item-desc{
			color: $secondary-text-color;
			padding: 5px 10px;
		}
		.combo-group-options{
			.options-row{
				@extend .cursor-pointer;
				i{
					color: $secondary-text-color;
					transition: 0.5s;
					-webkit-transition: 0.5s;
				}


				&.selected{
					i{
						color: #101010;
						&.selected-radio{
							display: block;
						}
					}
				}
			}
		}
	}
}

.menu-category{
	background: $category-bg-color;
	font-size: $small-font-size;
	padding-right: 230px;

	@include bp(640px){
		padding-right: 50px;
	}
	height: 45px;
	line-height: 45px;
	overflow: hidden;

	#item_search_form.shake{
		color: red;
		i{
			color: red;
		}
	}
	.item-search{
		line-height: normal;
		background: #fff;
		border-radius: 5px;
		right: 5px;
		top:5px;
		padding-left: 5px;
		border-radius: $default-border-radius;
		box-sizing: border-box;
		width: 230px;

		@include bp(640px){
			width: 25px;
			overflow: hidden;
		}
		-webkit-transition: 0.5s; /* Safari */
		transition: 0.5s;

		&>div{
			position: relative;
		}
		input[type="text"]{
			border-radius: $default-border-radius;
			border: $border-color;
			height: 35px;
    		width: 180px;
			padding: 0px 20px;
		}
		.cross{
			right: 5px;
			display: none;
			background: #999;
		    color: #fff;
		    width: 20px;
		    height: 20px;
		    border-radius: 100%;
		    text-align: center;
		    line-height: 22px;
		    font-size: 12px;
			@extend .cursor-pointer;
		}

		&.searched{
			width: calc(100% - 10px);
			color: $theme-color-1;
			font-weight: bold;
			input[type="text"]{

			}

			.cross{
				display: block;
			}
		}

		.fa-search, .cross{
			position: absolute;
		}
		.fa-search{
			color: $secondary-text-color;
			left: 2px;
		}


	}

	.menu-tabs {
		display: inline-block;
		padding: 0px 15px;
		color: $category-color;
		position: relative;

		&:before{
			display: block;
			position: absolute;
			left: 0;
			bottom:0;
			width: 0;
			height: 4px;
			background-color: $category-selected-color;
			content: "";
			display: inline-block;
		}

		&.selected{
			color: $category-selected-color;
			font-weight: bold;
			&:before{
				width: 100%;
				transition: width 0.2s cubic-bezier(0, 0, 0.2, 1);
				-webkit-transition: width 0.2s cubic-bezier(0, 0, 0.2, 1);
			}
		}
	    font-weight: bold;
	    box-sizing: border-box;
	    cursor: pointer;
	}
	.category-contents{
		.scrollable-div{
			display: inline-block;
			text-transform: uppercase;
			-webkit-transition: 0.5s; /* Safari */
			transition: 0.5s;
		}
		overflow: hidden;
		white-space: nowrap;
		position: relative;

		.cat-nav{
			position: absolute;
			box-sizing: border-box;
		    height: 45px;
		    line-height: 45px;
		    padding: 0px 15px;
			background: rgba(244, 244, 244, 0.9);
			font-size: 20px;
    		padding-top: 1px;
			@extend .cursor-pointer;
			top: 0;
			&.right{
				right: 0;
			}

			&.left{
				left: 0;
				display: none;
			}
		}
	}
}



.landing-conatainer{
	&.default{
		height: 100vh;
		input.google-location{
			border: 0px;
			@include trans(0.4s);
			padding: 10px;
			color: $theme-color-1;
			box-sizing: border-box;
			border-left: 1px solid #ddd;
			width: 100%;
			border-radius: $default-border-radius;
		}
		.search-input-container{
			background: #fff;
			border: 1px solid $theme-color-1;
			border-radius: $default-border-radius;
			width: 90%;
			max-width: 400px;
			position: relative;
			display: inline-block;
			.search-input-holder{
				padding-left: 50px;
				width: 100%;
				box-sizing: border-box;
			}

			i{
				position: absolute;
				left: 0;
				width: 50px;
				text-align: center;
				@extend .valign-absolute;
				color: $secondary-text-color;
			}
		}
	}
}

.index-footer{
	.up-footer{
		position: fixed;
		bottom: 0;
	    background: rgba(0,0,0,.5);
	    border-top: none;
	    @include bp(400px) {
			position: static;
			}
	    .nav-bar ul li {
	    	color: white;
	    }
	}
}

@include  bp(500px) {
	.landing .landinglogo img {
      margin: 10px;
      width: 100px;
    }
	.landing .landing-text {
		font-size: 16px;
		width: 80%;
	}
	.landing .select-loc2 {
		width: 300px !important;
	}
	.landing .select-loc2 input[type="text"] {
      width: 250px !important;
    }
}

@include  bp(330px) {
  .landing .landing-text {
    font-size: 16px;
    width: 90%;
  }
}

#index_slider{
	width: 100%;
	img{
		width: 100%;
	}
}
