$font-default : "AV"; 
$font-url : "../fonts/AvenirNextLTPro-Regular.otf"; 
$bg-img : "../images/bg.png"; 
$font-fallback-default : "serif"; 
$site-logo-width : 100px; 
$theme-color-1 : #C1272D; 
$theme-color-2 : #C1272D; 
$theme-color-3 : #ec530a; 
$theme-color-4 : #6ca4e7; 
$item-card-image-ratio : 1.5; 
$item-desc-text-color : #828282; 
$error-color : #ec530a; 
$success-color : #57a863; 
$default-text-color : #101010; 
$dark-text-color : #111111; 
$secondary-text-color : #9b9b9b; 
$border-color : #e7e7e7; 
$secondary-background-color : #f4f4f4; 
$default-font-size : 1.12em; 
$small-font-size : 0.65em; 
$med-font-size : 0.87em; 
$large-font-size : 1.50em; 
$x-large-font-size : 1.87em; 
$header-height : 100px; 
$footer-height : 80px; 
$footer-color : #f2f2f2; 
$max-grid-width : 1000px; 
$max-s-grid-width : 768px; 
$large-modal-max-width : 600px; 
$default-modal-max-width : 400px; 
$default-border-radius : 3px; 
$overlay-opacity : 0.7; 
$order-mode : true; 
$locateme : true; 
$item-grid-shadow : true; 
$small-button-fixed-width : 110px; 
$item-image-card-ratio : 1.33; 
$category-bg-color : #f4f4f4; 
$category-border-color : #e7e7e7; 
$category-color : #000; 
$category-selected-color : $theme-color-1; 
